<%= form_for :trackpicks do |f| %>
  <p>
    <%= f.hidden_field :value => "http://localhost:3000/playlists/7/trackpicks/new" %>
    <%= f.hidden_field :value => 2 %>
    <%= f.hidden_field :value => 3 %>
  </p>
  <p>
    <%= f.hidden_field :playlist_id, :value => 7 %>

    <%= f.submit %>
  </p>
 
<% end %>




