<p id="on-air">On Air!</p>
<p id="too-late">Too late to vote :-)</p>
<div class='trackpick-active' id="<%= trackpick.id %>" >
  <img id="playing-img" src="<%= trackpick.track.artwork_url.to_s.gsub('-large', '-t500x500') %>"></img>
  <br>
  <div class="soundcloud-url" id="<%= trackpick.track.track_url + '?client_id=' + ENV['CLIENT_ID'] %>"></div>
  <div id="track-details">
    <p id="track-title"><%= trackpick.track.title %></p>
    <div id="permalink">
      <%= link_to image_tag("black_white_24x24.png", :size => "35x35"), trackpick.track.soundcloud_url, :target => "_blank" %>
    </div>
    <p id="track-date">Added <%= time_ago_in_words(trackpick.created_at) %> ago
      <% if trackpick.user && trackpick.user.username %>
        by <%= trackpick.user.username %>
      <% end %>
    </p>
  </div>
</div>