<div class='trackpick' id="<%= trackpick.id %>" >
  <img src="<%= trackpick.track.artwork_url.to_s.gsub('-large', '-t500x500') %>"></img>
  <br>
  <div class="soundcloud-url" id="<%= trackpick.track.track_url + '?client_id=' + ENV['CLIENT_ID'] %>"></div>
  <%= trackpick.track.title %>
  <p id="vote-count<%=trackpick.id%>"><%=trackpick.votecount%></p>
  <p>
    Added on <%= trackpick.created_at.strftime("%F") %>
  </p>
</div>