<div class='trackpick' id="<%= trackpick.id%>" >
  <img src="<%= trackpick.track.artwork_url.to_s.gsub('-large', '-t500x500') %>"></img>
  <br>
  <div class="soundcloud-url" id="<%= trackpick.track.track_url + '?client_id=' + ENV['CLIENT_ID'] %>"></div>
    <div class="vote roundrect">
      <a href="" class="increment up"></a>
      <a href="" class="increment down"></a>
      <div class="count" id="vote-count<%=trackpick.id%>"><%=trackpick.votecount%></div>
    </div>
    <div id="track-details">
      <p id="track-title"><%= trackpick.track.title %></p>

      <% if @login_vote_error_message %>
          <p id="login-vote-error"><%= @login_vote_error_message %></p>
       <%end%>


         <p id="vote-error"></p>


      <div id="permalink">
        <%= link_to image_tag("black_white_24x24.png", :size => "35x35"), trackpick.track.soundcloud_url, :target => "_blank" %>
      </div>
      <p id="track-date">Added <%= time_ago_in_words(trackpick.created_at) %> ago
        <% if trackpick.user && trackpick.user.username %>
          by <%= trackpick.user.username %>
        <% end %>
      </p>
    </div>

</div>



