<h1>Create a new playlist</h1>

<div class="playlist-errors">
  <% if @playlist_errors %>
    <p><%= "Playlist #{@playlist_errors.downcase}" %></p>
  <% end %>
  <% if @login_error %>
    <p><%="#{@login_error}"%><%= link_to 'Login', login_path %></p>
  <% end %>
</div>

<%= form_for :playlist, url: playlists_path, method: "post" do |f| %>
  <p>
    <%= f.text_field :name, class: "search-field", placeholder: "Name" %>
  </p>
  <p >
    <%= f.hidden_field :user_id, value: current_user ? current_user.id : nil %>
  </p>
  <p>
    <%= f.submit "Save Playlist", class: "submit-search" %>
  </p>
<% end %>
<br>
<br>
<% if user_signed_in? %>
  <h3><strong><i>Or enjoy one of your past playlists</i></strong></h3>
        <div class="tab-pane fade in" id="tab2">
          <table class="table table-striped table-hover">
            <tr>
              <th><strong>Playlist Name</strong></th>
              <th><strong>Date Created</strong></th>
            </tr>
            <% if @my_playlists %>
            <% @my_playlists.each do |my_playlist| %>
            <tr>
            <th style="color: #F9F9F9;"><i><%= link_to my_playlist.name, my_playlist, { style: 'color:#0c0b0b;', class: "playlist_link"} %></i></th>
              <th><%= my_playlist.created_at.to_formatted_s(:long)%></th>
            </tr>
            <% end %>
            <% end %>

          </table>
        </div>
<% end %>
