<h1>Create a new playlist</h1>

<%= form_for :playlist, url: playlists_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

