<h1>Create a new playlist</h1>

<div class="playlist-errors">
  <% if @playlist_errors %>
    <p><%= "Playlist #{@playlist_errors.downcase}" %></p>
  <% end %>
  <% if @login_error %>
    <p><%="#{@login_error}"%><%= link_to 'Login', login_path %></p>
  <% end %>
</div>

<%= form_for :playlist, url: playlists_path, method: "post" do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.hidden_field :user_id, value: current_user ? current_user.id : nil %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

