<%@tracks.each do |track|%>
  <div id="searched-tracks">
    <p><%= track.title%></p>
    <div id="art">
     <img src="<%=track.artwork_url.to_s.gsub('-large', '-t300x300')%>"></img>
    </div>
      <div id="add">
        <%= form_for :trackpick, url: playlist_trackpicks_path(@playlist), method: "post" do |f| %>
          <%= f.hidden_field :title, :value => track.title %>
          <%= f.hidden_field :track_url, :value => track.stream_url %>
          <%= f.hidden_field :artwork_url, :value => track.artwork_url %>
          <%= f.submit %>
        <% end %>
      </div>
  </div>
<%end%>