<%= form_for :search, url: results_playlist_path, method: "post" do |f| %>
  <p>
    <%= f.label :Search %>
    <%= f.text_field :name %>

    <%= f.hidden_field :playlist_id, :value => params["playlist_id"] %>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>