<div id="playlist-container">

  <div id="playlist-name">
    Enjoy <strong><%= @playlist.name %></strong>
  </div>
    <div id="header-buttons">
      <div id="shy">
        And don't be shy!
      </div>

      <div class="add-track">
        <%= link_to 'Add tracks', search_playlist_path(@playlist) %>
      </div>
      <div class="twillio">
        <div class="and-friend">
          <a href="#" class="add-friends" role="button" data-toggle="modal" data-target="#login-modal">and friends!</a>
          </div>
          <div id="send-twillio">
            <form id="send-text-form" action="twilio/send_text" method="post">
              <div>
                <%= text_field_tag 'tel', nil, class: 'search-field', placeholder: "Eg. 4155555454 7025555454" %>
                  <button type="submit" class="submit-search ">Send Texts, yo</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    <% if current_user && @playlist.user_id == current_user.id %>
    <div id="wave"></div>

      <div id="control-bar">
        <div class="player-control">
          <div id="play-button" title="Play"><i class="fa fa-play fa-2x"></i></div>
          <div id="pause-button" title="Pause"><i class="fa fa-pause fa-2x"></i></div>
          <div id="next-button" title="Next"><i class="fa fa-fast-forward fa-2x"></i></div>
        </div>
      </div>

      <div id="pop-up"><strong>Dudette, dude: are you sure?</strong> Don't be such a downer, respect your friends' decisions!</div>

      <div id="track-details" >
        <p id="track-time">
          <span id="current">-</span> / <span id="total">-</span>
        </p>
      </div>
    <% end %>

    <div id="active-song">
      <% if @active_trackpick %>
        <%= render partial: 'active_song', locals: {trackpick: @active_trackpick} %>
      <% end %>
    </div>

    <div id='current_playlist'>
      <div class="current_playlist" id='<%= @playlist.id %>'>
        <% @trackpicks.each do |trackpick| %>
            <%= render partial: 'show_track', locals: {trackpick: trackpick} %>
        <% end %>
      </div>
    </div>

  </div>
</div>

