<div id="playlist-container">

     <!-- beginning send text divs -->

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header" align="center">
          <% if user_signed_in? %>
            <%= image_tag current_user.gravatar_url %>
          <% else%>
            <%= image_tag("cat_animated.gif", id: "img_logo", class: "img-circle") %>
          <% end %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
       </div>

        <!-- Begin # DIV Form -->
        <div id="div-forms">
        <!-- Begin # Login Form -->
          <form id="send-text-form" action="twilio/send_text" method="post">
            <div class="modal-body">
                <div id="div-login-msg">
                  <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right">
                  </div>
                  <span id="text-login-msg">Text as many peeps as you want. 10 digits only!</span>
                </div>
                <%= text_field_tag 'tel', nil, class: "form-control", placeholder: "Eg. 4155555454 7025555454" %>
            </div>
            <div class="modal-footer">
              <div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Send Texts, yo</button>
              </div>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>

  <!-- end of send text form -->
  <div id="playlist-name">
    Enjoy <strong><%= @playlist.name %></strong>
  </div>
    <%if !user_signed_in? %>
      <div id="user-not-logged">
        <p>Hey there! The NSA just informed us that you are not logged in.</p>
        <p>As a guest, you can always add tracks but can't vote. Get real: <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Login", login_path %> now!</p>
      </div>
    <% end %>
    <div id="header-buttons">
      <div id="shy">
        And don't be shy!
      </div>
      <div class="add-track">
        <%= link_to 'Add tracks', search_playlist_path(@playlist) %>
      </div>
      <div class="and-friend">
        <a href="#" class="add-friends" role="button" data-toggle="modal" data-target="#login-modal">and friends!</a>
      </div>
    </div>
  
    <div id="active-song">
      <% if @active_trackpick %>
        <%= render partial: 'active_song', locals: {trackpick: @active_trackpick} %>
      <% end %>
    </div>

    <div id='current_playlist'>
      <div class="current_playlist" id='<%= @playlist.id %>'>
        <% @trackpicks.each do |trackpick| %>
            <%= render partial: 'show_track', locals: {trackpick: trackpick} %>
        <% end %>
      </div>
    </div>

    <% if current_user && @playlist.user_id == current_user.id %>
    <div id="wave"></div>

      <div id="control-bar">
        <div class="player-control">
          <div id="previous-button" title="Previous"><i class="fa fa-fast-backward fa-2x"></i></div>
          <div id="play-button" title="Play"><i class="fa fa-play fa-2x"></i></div>
          <div id="pause-button" title="Pause"><i class="fa fa-pause fa-2x"></i></div>
          <div id="next-button" title="Next"><i class="fa fa-fast-forward fa-2x"></i></div>
        </div>
      </div>

      <div id="pop-up"><strong>Dudette, dude: are you sure?</strong> Don't be such a downer, respect your friends' decisions!</div>

      <div id="track-details" >
        <p id="track-time">
          <span id="current">-</span> / <span id="total">-</span>
        </p>
      </div>

    <% end %>
  </div>
</div>

