<!DOCTYPE html>
<html>
<head>
  <title>Crowdj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet prefetch" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
</head>

<header>

</header>
<body>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>



    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a>All you need is love</a>
                </li>
                <li>
                  <%= link_to "Home", root_path %>
                </li>
                <li>
                  <%=link_to "Create a new Playlist", new_playlist_path %>
                </li>
                <%if user_signed_in? %>
                  <li>
                   <%= link_to "#{current_user.username}", users_profile_path %>
                  </li>
                  <li>
                      <%= link_to "Logout", logout_path %>
                  </li>
                   <li>
                      <%= link_to "Create a new Playlist", new_playlist_path %>
                  </li>
                  <%else%>
                  <li>
                      <%= link_to "Login", login_path %>
                  </li>
                  <li>
                      <%= link_to "Sign up", new_user_registration_path %>
                  </li>

                 <%end%>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div id="test-test">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
            </button>
          </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="page-header"><%= image_tag("c-80.png") %>rowdj</h1>
                        <%= yield %>
                        <div id="credits">
                          <span class="inner-credit">Made with <i class="fa fa-heart"></i> @ <a id="dbc-link" href="http://www.devbootcamp.com">Dev Bootcamp SF</a></span>  <span class="inner-credit">Powered by  <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F&color=black_white&size=16" style="width: 16px; height: 16px;"></iframe></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
<script>
  var event_name = 'crowdj:<%= controller_name %>_<%= action_name %>';
  $.event.trigger({ type: event_name });
</script>
</html>
