<!DOCTYPE html>
<html>
<head>
  <title>Crowdj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
</head>

<header>
  <%if user_signed_in? %>
    Logged in as <strong> <%= current_user.email%></strong><%= %> | 
    <a href='/logout'>Logout</a> | 
    <%= link_to "Profile", users_profile_path %> |

  <%else%>
    <%= link_to "Login", login_path %> |
    <%= link_to "Sign up", new_user_registration_path %>
  <%end%>
</header>
<body>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

<!-- <script src="assets/javascripts/application.js"></script>
 -->
</body>
<script>
  var event_name = 'crowdj:<%= controller_name %>_<%= action_name %>';
  $.event.trigger({ type: event_name });
</script>
</html>
