<!DOCTYPE html>
<html>
<head>
  <title>Crowdj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<header>
  <%if current_user%>
    <a href='/logout'>Logout</a>

  <%else%>
    <%= link_to "Log in", login_path %>
  <%end%>
</header>
<body>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

<!-- <script src="assets/javascripts/application.js"></script>
 -->
</body>
</html>
